/.vscode
/.idea
/nbproject/private/
/nbproject/
*.lock
clover.xml
*.sqlite
*.sqlite3
vendor
build/
tests/pdo/ez_test.sqlite
tests/sqlite/ez_test.sqlite
tests/sqlite/ez_test.sqlite3
.DS_Store
test.php
*.csr
*.key
*.crt
*.cache
tmp
