<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        syntaxCheck="false" >
        
    <testsuites>
        <testsuite name="ezSQL Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
 
    <php>
        <var name="DB_DSN" value="mysql:dbname=testing_database;host=localhost" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWD" value="" />
        <var name="DB_DBNAME" value="testing_database" />    
    </php>
</phpunit>
